.service{
    position: relative;
    width: 22%;
    aspect-ratio: 3/4;
    margin: 1.5%;
    background-color: rgb(200, 200, 200);
    border-radius: 15px;
    cursor: pointer;
}
.serviceDescription p{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.serviceDescription{
    margin-top: 7vh;
}
.master4booked{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    background-color: white;
    height: 15vh;
    width: 40vw;
    border-radius: 15px;
    padding: 5px;
    box-shadow: -1px 1px 6px 3px rgba(150, 150, 150, .2);
}
#masterImg4booked{
    height: 10vh;
    width: 10vh;
    margin: 1vh;
    border-radius: 50%;
}
.star{
    position: relative;
    top: 0.5vh;
    width: 3vh;
    height: 3vh;
    margin-right: 5px;
}
.bookedButton{
    background: linear-gradient(to bottom right, #d907e6, 70%, #f666ff);
    border: none;
    border-radius: 5px;
    padding: 1.5vh;
    height: 5vh;
    margin: 5vh;
    margin-right: 5vh;
    color: white;
    cursor: pointer;
    position: relative;
    left: 5vh;
}
.bookedButton:hover{
    background: linear-gradient(to bottom right, #890091, 70%, #d907e6);
    transition: 0.3s;
}
.detailed{
    position: relative;
    width: 3vh;
    height: 3vh;
    top: 2vh;
    right: 2vh;
    font-style: italic;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 2.5vh;
    color: gray;
    text-align: center;
    cursor: pointer;
}
.detailed a{
    position: relative;
    right: 0.25vh;
}
#back2catalog a{
    vertical-align: middle;
}
#back2catalog{
    cursor: pointer;
}
@media (pointer:none), (pointer:coarse) {
    .detailed{
        width: 3vw;
        height: 3vw;
        top: 2vw;
        right: 2vw;
        font-size: 2.5vw;
    }
    .detailed a{
        right: 0.25vw;
    }
    .bookedButton{
        padding: 1vw;
        height: 7vw;
        margin: 7vw;
        margin-right: 2vw;
        left: 2vw;
    }
    .star{
        top: 1vw;
        width: 3.5vw;
        height: 3.5vw;
    }

    #masterImg4booked{
        height: 15vw;
        width: 15vw;
        margin: 2vw;
    }
    .master4booked{
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 22vw;
        width: 85vw;
        font-size: 3vw;
    }
    .service{
        min-width: 41vw;
    }
}