.service{
    width: 20%;
    margin: 1.5%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    font-size: 1.5vw;
    box-shadow: -3px 3px 6px 3px rgba(150, 150, 150, .4);
    transition: .2s;
    padding: 1%;

    &:hover{
        transform: scale(1.05);
        box-shadow: -4px 4px 8px 5px rgba(150, 150, 150, .4);
    }

    img{
        width: 100%;
        aspect-ratio: 1/1;
        pointer-events: none;
    }

    a{
        font-size: 2.5vh;
    }
}

@media (pointer:none), (pointer:coarse) {
    .service{
        min-width: 41vw;
        font-size: 4vw;
        margin: 2.5%;
        padding: 2%;
    }
}