.choice__service{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
    font-size: 3vh;
    background-color: white;

    img{
        height: 16vh;
        aspect-ratio: 1/1;
        margin: 2vh;
        margin-bottom: 0;
        pointer-events: none;
        border-radius: 3px;
    }

    .choice__service__right{
        display: flex;
        width: 35%;
        justify-content: space-between;

        p{
            margin-top: 8vh;
        }

        button{
            height: 6vh;
            width: 17vh;
            background-color: #d740e1;
            color: white;
            margin: 6.5vh;
            border-radius: 5px;
            border: none;
        
            &:hover{
                cursor: pointer;
                filter: brightness(80%);
            }
        }
    }

}


@media (pointer:none), (pointer:coarse) {
    .choice__service{
        height: 23vw;
        font-size: 4vw;

        img{
            height: 19vw;
            margin: 3vw;
            margin-bottom: 0;
        }
    
        .choice__service__right{
            width: 40%;
    
            p{
                margin-top: 8vw;
            }
    
            button{
                height: 7vw;
                width: 18vw;
                margin: 7vw;
                margin-left: 0;
                font-size: 2.5vw;
                margin-right: 2vw;
            }
        }
    }
}