.search{
    padding: 15px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 8%;
    margin-bottom: 7%;
    border-radius: 10px;
    border: 2px solid gray;
}
.container4ChoiceServices{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20vh;
}

#text4services{
    font-size: 4vh;
    font-weight: bold;
    margin-left: 5vh;
    display: block;
    margin-bottom: 4vh;
}
#text4services2{
    color: rgb(200, 200, 200);
    font-size: 4vh;
    font-weight: bold;
    display: block;
    margin-bottom: 4vh;
}

.choiceService{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100%;
    font-size: 3vh;
    background-color: white;
}
.choiceService img{
    height: 16vh;
    aspect-ratio: 1/1;
    margin: 2vh;
    margin-bottom: 0;
    pointer-events: none;
    border-radius: 3px;
}
.price{
    position: relative;
    margin-top: 8vh;
}

.choiceButton{
    height: 5vh;
    width: 15vh;
    background-color: #d740e1;
    color: white;
    margin: 7vh;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 12vw;
}
.choiceButton:hover{
    cursor: pointer;
    filter: brightness(80%);
}

@media (pointer:none), (pointer:coarse) {
    .search{
        margin-top: 20vw;
    }
    .container4ChoiceServices{
        margin-bottom: 20vw;
    }
    .choiceService img{
        height: 19vw;
        width: 19vw;
        margin: 2vw;
        margin-bottom: 0;
        pointer-events: none;
        border-radius: 3px;
    }
    .choiceService p{
        font-size: 3vw;
    }
    .choiceService{
        display: flex;
        justify-content: space-between;
        height: 22vw;
        width: 100%;
        font-size: 4vw;
        background-color: white;
    }
    .price{
        margin-top: 8vw;
        font-size: 3vw;
        right: -4vw;
    }
    .choiceButton{
        height: 3vh;
        width: 17vw;
        margin: 8vw;
        margin-right: 4vw;
        border-radius: 3px;
        font-size: 2.5vw;
        margin-left: 2vw;
    }
}