#contacts{
    padding-bottom: 150px;
    width: 92%;
    margin-left: 4%;
}

h2{
    font-size: 4vh;
}

.contact{
    display: flex;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 12px;
    padding: 1.5vh;
    height: 4vh;
    cursor: pointer;
    margin: 20px;
    margin-left: 0px;
    font-size: 3.5vh;
    align-items: center;

    p{
        margin: 0px;
    }

    img{
        width: 5vh;
        height: 5vh;
        margin-right: 1vw;
    }
}

@media (pointer:none), (pointer:coarse) {
    #contacts{
        padding-bottom: 5vw;
    }
    .contact{
        font-size: 4vw;
        padding: 2vw;
        margin: 5px;
        height: 5vw;
        border-radius: 9px;
    
        img {
            width: 5vw;
            height: 5vw;
        }
    }
}