#container__for__photos{
    width: 100vw;
    padding-top: 30px;
    margin-top: 70px;

    h3{
        color: black;
        margin-left: 4%;
        font-size: 3vw;
    }
}

.images__wrapper{
    width: 94%;
    margin-left: 3%;
    columns: 3;

    div{
        display: flex;
    }
}

.images__wrapper__mobile{
    width: 100%;
    overflow-x: scroll;
    padding: 3%;
    white-space: nowrap;

    div{
        display: inline-block;
        margin: 2vw;
        height: 45vh;
    }
}

.button__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4vw;

    button{
        padding: 1em;
        border: none;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;
        color: black;
        transition: .2s;

        &:enabled:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

@media (pointer:none), (pointer:coarse) {
    #container__for__photos{
        padding: 2%;
        margin-top: 35px;

        h3{
            font-size: 5vw;
        }
    }
}