.topnav{
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 0px;
    background-color: rgba(100, 100, 100, .8);
    color: rgb(200, 200, 200);
    z-index: 999;
    display: flex;
    backdrop-filter: blur(4px);
}
.topnav a{
    margin-top: 2.5vh;
    font-size: 2.5vh;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.topnav a:hover{
    color: white;
    transition: .2s;
}

.phoneNumber{
    display: none;
    position: sticky;
    width: 50vh;
    height: 28vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 38vh;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 0 0 1600px rgba(0,0,0,0.3);
    overflow: hidden;
}
.topnav__contact{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    float: right;
    padding: 7px;
    font-size: 2vh;
    margin-right: 3vh;
    cursor: pointer;
}

.topnav_img{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3vh;
    height: 3vh;
    filter: brightness(200%);
}
.topnav_img:hover{
    filter: brightness(300%);
}
.messageMenu_contact p{
    margin: 0px;
}
.messageMenu_contact{
    display: flex;
    position: relative;
    text-align: left;
    padding: 5px;
}
.messageMenu_contact:hover{
    background-color: rgb(230, 230, 230);
    transition: .15s;
}
.messageMenu_icon{
    width: 1.5vw;
    height: 1.5vw;
    filter: brightness(200%);
    margin-right: 0.75vw;
    margin-left: 0.75vw;
}

.messageMenu{
    width: 15vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    background-color: white;
    border-radius: 15px;
    font-size: 2.5vh;
    overflow: hidden;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#online{
    background: linear-gradient(to bottom right, #d907e6, 70%, #f666ff);
    border: none;
    border-radius: 5px;
    padding: 1.5vh;
    margin-top: 1vh;
    height: 3vh;
    color: white;
    cursor: pointer;
}
#online:hover{
    background: linear-gradient(to bottom right, #890091, 70%, #d907e6);
    transition: 0.3s;
}
.topnav__contact p{
    margin: 0px;
    margin-top: 5px;
}
@media (pointer:none), (pointer:coarse) {
    .topnav{
        vertical-align: middle;
        height: auto;
        aspect-ratio: 10/1;
        justify-content: center;
    }
    .topnav a{
        margin-top: 2vw;
        font-size: 4vw;
        vertical-align: middle;
        margin: 2vw;
    }
}