.review{
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: -3px 3px 6px 3px rgba(150, 150, 150, .4);
    margin: 2%;
    max-height: 80%;
    padding-bottom: 30px;

    .logo{
        margin: 3%;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}

.review__body{
    display: flex;
    flex-direction: column;
    height: auto;

    p{
        margin-bottom: 0px;
    }

    .star__rate{
        display: flex;
        align-items: center;
        margin-top: 2vh;
    
        img{
            width: 15px;
            height: 15px;
        }

        p{
            margin: 0px;
            margin-left: 10px;
        }
    }
}

@media (pointer:none), (pointer:coarse) {
    .review{
        .logo{
            width: 80px;
            height: 80px;
        }

        .review__body{
            a{
                font-size: 2.5vw;
            }

            p{
                font-size: 3.5vw; 
            }
        
            .star__rate{
                img{
                    width: 25px;
                    height: 25px;
                }
    
                p{
                    margin: 0px;
                    margin-left: 10px;
                    font-size: 3vw;
                }
            }
        }
    }
}