.HelloPage{
    display: flex;
    position: relative;
    background: linear-gradient(to bottom right, #020202, 80%, #ff43bf);
    width: 100vw;
    height: 108vh;
    overflow: hidden;
}
.HelloPage h5{
    font-family: 'Caveat', cursive;
    color: #d907e6;
    font-size: 4vh;
}

#titleInfo{
    margin-top: 8vh;
    position: relative;
    color: white;
    margin-left: 13vw;
}
#titleInfo ul, li{
    font-size: 3vh;
    cursor: pointer;
}
#titleInfo h2{
    font-size: 7vh;
}
#aboutText{
    width: 65%;
}
.container4icon{
    vertical-align: middle;
}
.container4icon .icon{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    margin: 0px;
    margin-right: 1vw;
    margin-left: 1vw;
    height: 8vh;
}
.container4icon p{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    margin: 0px;
}

#model{
    position: absolute;
    right: 0px;
    height: 110%;
    pointer-events: none;
}

.slice{
    position: absolute;
    height: 3vh;
    width: 100%;
    transform: scaleX(-1);
}
#slice1{
    bottom: 0px;
}
#slice2{
    bottom: 0px;
    opacity: .7;
    background-color: white;
}
#slice3{
    bottom: 3vh;
    transform: scaleX(1);
    opacity: .3;
}

@media (pointer:none), (pointer:coarse) {
    #model{
        opacity: 0.35;
        z-index: 0;
        right: -90vw;
        width: 150vw;
        height: auto;
        margin-top: 15vw;
    }

    #aboutText{
        width: 80%;
        font-size: 3vw;
    }

    #titleInfo ul, li{
        font-size: 2vh;
    }
    #titleInfo h2{
        font-size: 5vh;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

    .HelloPage{
        height: 80vh;
    }
    
    .HelloPage h5{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}