.content__desktop{
    padding-top: 12vh;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15vh;
}

.content__mobile{
    margin-top: 5vh;
    margin-left: 10%;
    padding-bottom: 15vw;
}

#back__to__catalog{
    cursor: pointer;

    a{
        vertical-align: middle;
        font-size: 2.5vh;
    }
}

.service__description{
    margin-top: 7vh;

    p{
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
}