.booked__form{
    width: 40%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1600px rgba(0,0,0,0.3);
    padding: 3%;
    border-radius: 25px;
    z-index: 1;
    font-size: 2.5vh;
    justify-content: center;

    img{
        width: 3vh;
        height: 3vh;
        position: absolute;
        top: 3vh;
        right: 3vh;
        cursor: pointer;
    }

    button{
        background: linear-gradient(to bottom right, #d907e6, 70%, #f666ff);
        border: none;
        border-radius: 5px;
        padding: 2vh 1.5vh;
        width: 100%;
        margin-top: 4vh;
        color: white;
        cursor: pointer;
        transition: .2s;
    
        &:hover{
            filter: brightness(80%);
        }
    }
}

.field{
    width: 100%;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

@media (pointer:none), (pointer:coarse) {
    .booked__form{
        width: 80%;
        padding-bottom: 25px;
        border-radius: 15px;
        
        input{
            padding: 2vw;
        }
        button{
            padding: 3vw;
            width: 102%;
            margin-top: 4vw;
        }
    }
}